{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron">
    <h1 class="display-4">Check up on your stock</h1>
</div>

<div class="container mt-5 col-8">
    <div class="card border-primary rounded mb-3 ">
        <div class="card-header text-primary">
            <h4>Search by Ticker:</h4>
        </div>
        <div class="card-body">
                <form actions="/user" method="POST">
                    {{ form.csrf_token }}
                    <div class="form-row">

                        <div class="form-group col-8 row">
                            <div class="col-sm-6">
                                {{ form.ticker(class_="form-control") }}
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-primary">Run</button>
                            </div>
                        </div>



                    </div>
                </form>
        </div>
    </div>
</div>
{% endblock %}